html, body {
    height: 100%;
    overflow: hidden;
}

.homePage {
    display: flex;
    height: 100%;
}

.title {
    font-size: 48px;
    font-family: var(--Apoc-Dark);
    width: 100%;
    text-align: center;
    line-height: 1.25;
    letter-spacing: -0.48px;
}

.drMartens {
    position: absolute;
    top: 26px;
}

.middleItems {
    margin: auto;
    font-size: 16px;
    letter-spacing: -0.88px;
    font-family: var(--SourceHanSansK);
}

.description {
    text-align: center;
    margin-bottom: 10px;
    line-height: 24px;
}

.testButton {
    background-color: black;
    border-radius: 40px;
    width: 240px;
    height: 43px;
}

.testButton > div{
    padding-top: 9px;
    color: white;
    text-align: center;
    font-weight: bold;
}

.typeTest {
    position: absolute;
    bottom: 24px;
}

.twinkle {
    width: 21px;
    height: 21px;
}

.topTwinkle {
    margin-bottom: 56px;
    display: flex;
    justify-content: center;
}

.bottomTwinkle {
    margin-top: 64px;
    display: flex;
    justify-content: center;
}