html, body {
    height: 100%;
    overflow: hidden;
}

.homePage {
    display: flex;
    height: 100%;
}

.title {
    font-size: 48px;
    font-family: var(--hard-font);
    font-weight: 900;
    width: 100%;
    text-align: center;
    line-height: 60px;
    letter-spacing: -0.48px;
}

.drMartens {
    position: absolute;
    top: 52px;
}

.middleItems {
    margin: auto;
    font-size: 16px;
    letter-spacing: -0.88px;
}

.description {
    text-align: center;
    margin-bottom: 18px;
    line-height: 24px;
}

.testButton {
    background-color: black;
    border-radius: 40px;
    color: white;
    text-align: center;
    line-height: 43px;
    width: 240px;
    height: 43px;
}

.typeTest {
    position: absolute;
    bottom: 52px;
}

.twinkle {
    width: 21px;
    height: 21px;
}

.topTwinkle {
    margin-bottom: 48px;
    display: flex;
    justify-content: center;
}

.bottomTwinkle {
    margin-top: 48px;
    display: flex;
    justify-content: center;
}