:root {
    --HelveticaNeueLTStd-Hv: 'HelveticaNeueLTStd-Hv';
    --HelveticaNeueLTStd-Bd: 'HelveticaNeueLTStd-Bd';
    --SourceHanSansK: 'SourceHanSansK';
    --HelveticaNeueLTStd-Roman: 'HelveticaNeueLTStd-Roman';
}

* {
    margin: 0;
}

html {
    font-family: var(--SourceHanSansK);
}

a {
    text-decoration: none;
    color: black;
}

#root {
    height: 100%;
}