:root {
    --hard-font: 'Helvetica Neue LT Std';
    --soft-font: 'SourceHanSansK-Light';
}

* {
    margin: 0;
}

html {
    font-family: var(--soft-font);
}

a {
    text-decoration: none;
    color: black;
}

#root {
    height: 100%;
}